# Ignore individual files.
Dockerfile linguist-vendored

# Ignore exercism folders.
tracks/**/**/.exercism/** linguist-vendored

# Ignore tools folder, where we have some binaries, zips, etc.
tools/** linguist-vendored

# Ignore all test code.

### Files.
tracks/**/**/*test.* linguist-vendored
tracks/**/**/*tests.* linguist-vendored
tracks/**/**/*Tests.* linguist-vendored

### Folders.
tracks/**/**/test/** linguist-vendored
tracks/**/**/tests/** linguist-vendored

### Specific.
tracks/**/**/**/*_test.* linguist-vendored
