# Ignore individual files.
Dockerfile linguist-vendored

# Ignore tools folder, where we have some binaries, zips, etc.
tools/** linguist-vendored

# Ignore exercism folders
# -----------------------

# Ignore their hidden folder.
exercism/tracks/**/**/.exercism/** linguist-vendored

# Ignore their test code (I didn't write them).
# Files.
exercism/tracks/**/**/*test.* linguist-vendored
exercism/tracks/**/**/*tests.* linguist-vendored
exercism/tracks/**/**/*Tests.* linguist-vendored
# Folders.
exercism/tracks/**/**/test/** linguist-vendored
exercism/tracks/**/**/tests/** linguist-vendored
# Specific.
exercism/tracks/**/**/**/*_test.* linguist-vendored
